body {
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(97, 92, 91, 0.8); /* Fundo do quadro central*/
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(46, 202, 15, 0.1);
    width: 500px; /* Aumentado para acomodar a tabela */
    text-align: center;
}

.container h2 {
    color: #333;
}

.material-table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 35px;
}

.material-table th, .material-table td {
    border: 2px solid ;
    padding: 28px;
    text-align: left;
}::-ms-clear

.material-table th {
    background-color: #cf5f5f;/*Fundo da caixa central*/
}   

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    color: #fdfbfb;
}

.form-group input, .form-group select {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

.form-group input:focus, .form-group select:focus {
    border-color: #121213; /*Cor quando seleciona o caixa*/
    outline: none;
}

.btn {
    width: 85%;
    padding: 18px;
    border:  none;
    border-radius: 8px;
    background-color: #ceaa0c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.btn-back {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #eb5151;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    text-align: center;
    text-decoration: none;
}

.btn-back:hover, .btn:hover {
    background-color: #e99586;
}

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

.success {
    color: green;
    margin-bottom: 15px;
    text-align: center;
}
